.App {
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 30px;
}

.pinCodeSettingContainer {
  display: flex;
  margin-top: 30px;
}

.keyFormContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.authResultContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.inputFormElement {
  display: flex;
  justify-content: center;
}

.pinLabel {
  text-align: center;
}

.pinPreview {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.pinKeyForm {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.numberField {
  width: 32px;
  text-align: center;
}
